<!DOCTYPE html>
<html>
  <head>
  <title>QT-calculator</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <div id="calc-container">
      <h1>QTc calculator</h1>
      <p>Please enter details to calculate the QTc:</p>
 
      <form action="{{ url_for('index') }}" method="POST">
        <label>Enter sex:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" value="m" id="male-option">
          <label class="form-check-label" for="male-option">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" value="f" id="female-option" checked>
          <label class="form-check-label" for="female-option">
            Female
          </label>
        </div>
        <br>
        <label>Enter HR (BPM):</label>
        <input type="number" name="hr">
        <br><br>
        <label>Enter QT interval (msec):</label>
        <input type="number" name="qt">
        </br><br>
        <input type="submit" name="next" value="Next">
     </form>
     <br><br>
     {% if QTc_result %}
       <h2>Results</h2>
       <p>Compensated QT interval (Bazett formula) = {{QTc_result[0]}} msec.
       <br>
       {% if QTc_result[1] %}
         This is a prolonged QT interval.
       {%else%}
         This is a normal QT interval.
       {% endif %} 
    {% endif %}
   </div>
 </body>
</html>